* {
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

button {
    flex-grow: 0;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin: 10px 5px;
}

label {
    margin-left: 15px;
}

#mapid {
    flex-grow: 1;
    width: 100%;
}
